*~
config.log
config.status
Makefile
doxygen.conf
doxygen.log
doxygen.hh
doxygen.conf.use
stat.hh
changelog.hh
license.hh
header.html
autom4te.cache
gecode/support/config.hpp
tools/flatzinc/mzn-gecode.bat
tools/flatzinc/fzn-gecode
tools/flatzinc/mzn-gecode
gecode/gist/moc_*.*
*.o
*.s
*.obj
*.sbj
*.manifest
*.exe
*.exe.rc
*.exe.res
*.dll
*.dll.rc
*.dll.res
*.exp
*.lib
*.pdb
*.a
*.dylib
*.dylib.*
*.so
*.so.*
*.stackdump
core
gmon.out
doc
GecodeReference.chm
ChangeLog
examples/all-interval
examples/alpha
examples/archimedean-spiral
examples/bacp
examples/bibd
examples/bin-packing
examples/black-hole
examples/car-sequencing
examples/cartesian-heart
examples/colored-matrix
examples/crew
examples/crossword
examples/crowded-chess
examples/descartes-folium
examples/dominating-queens
examples/domino
examples/donald
examples/efpa
examples/eq20
examples/golden-spiral
examples/golf
examples/golomb-ruler
examples/graph-color
examples/grocery
examples/hamming
examples/ind-set
examples/kakuro
examples/knights
examples/langford-number
examples/magic-sequence
examples/magic-square
examples/magic-square-partial
examples/minesweeper
examples/money
examples/multi-bin-packing
examples/nonogram
examples/open-shop
examples/ortho-latin
examples/partition
examples/pentominoes
examples/perfect-square
examples/photo
examples/qcp
examples/queen-armies
examples/queens
examples/radiotherapy
examples/sat
examples/schurs-lemma
examples/sports-league
examples/steel-mill
examples/steiner
examples/sudoku
examples/sudoku-advanced
examples/tsp
examples/warehouses
examples/word-square
