*~
config.log
config.status
Makefile
doxygen.conf
doxygen.log
doxygen.hh
doxygen.conf.use
stat.hh
changelog.hh
license.hh
header.html
autom4te.cache
gecode/support/config.hpp
tools/flatzinc/mzn-gecode.bat
*.o
*.s
*.obj
*.sbj
*.manifest
*.exe
*.dll
*.exp
*.lib
*.pdb
*.a
*.dylib
*.dylib.*
*.so.*
*.stackdump
core
gmon.out
doc
GecodeReference.chm
ChangeLog

