Christian Schulte <schulte@gecode.dev> <schulte@gecode.org>
Christian Schulte <schulte@gecode.dev> <cschulte@kth.se>
Christian Schulte <schulte@gecode.dev> <cschulte@sics.se>

Guido Tack <tack@gecode.dev> <tack@gecode.org>
Guido Tack <tack@gecode.dev> <guido.tack@monash.edu>
Guido Tack <tack@gecode.dev> <guido.tack@me.com>

Mikael Zayenz Lagerkvist <lagerkvist@gecode.dev> <lagerkvist@gecode.org>
Mikael Zayenz Lagerkvist <lagerkvist@gecode.dev> <zayenz@gecode.org>
Mikael Zayenz Lagerkvist <lagerkvist@gecode.dev> <zayenz@gmail.com>
