Source: gecode
Section: devel
Priority: optional
Build-Depends: debhelper (>= 4.0.0)
Maintainer: Guido Tack <tack@ps.uni-sb.de>
Standards-Version: 3.6.0

Package: gecode
Architecture: any
Depends: ${shlibs:Depends}
Description: The Generic Constraint Development Environment
